<div id="<%= dom_id membership %>">
  <div>
    <strong>Runner:</strong>
    <%= membership.runner_id %>
  </div>

  <div>
    <strong>Club:</strong>
    <%= membership.club_id %>
  </div>

  <div>
    <strong>Main:</strong>
    <%= membership.main %>
  </div>

</div>
